@inherits PdfTemplateBase<SampleComponentModel>

<style>
    .my-component {
        border: 2px dashed red;
        padding: 1em;
        margin: 1em 0;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        width: 100%;
    }

        .styled-table tfoot {
            display: table-row-group
        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            vertical-align: top;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

            .styled-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }
</style>

<div class="my-component">
    @Model.Text
</div>

<table class="styled-table">
    <thead>
        <tr>
            <th>Description</th>
            <th style="width: 125px">Date</th>
            <th style="width: 150px" class="t-right">Amount</th>
            <th style="width: 150px" class="t-right">Outstanding</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Rows.Any())
        {
            foreach (var item in Model.Rows)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.Date</td>
                    <td class="t-right">@item.Amount</td>
                    <td class="t-right">@item.Outstanding</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No transactions</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td class="t-right"><b>Total</b></td>
            <td class="t-right"><b>@Model.TotalOutstanding</b></td>
        </tr>
    </tfoot>
</table>